{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            {% for history in history %}
                <tr>
                    <td>{{ history.symbol }}</td>
                    <td>{{ history.shares }}</td>
                    <td>{{ (history.shares * history.price) | abs | usd }}</td>
                    <td>{{ history.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}